body {
    font-size: 18px;
    font-family: sans-serif;
}

main {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

ul {
    list-style: none;
}

.scoreViewer {
    width: auto;
    display: inline-block;
    background: red;
}

.center {
    text-align: center;
}

.timer {
    width: auto;
    background: green;
    float: right;
}

.buttonContainer {
    margin: auto;
    text-align: center;
}

main h2 {
    display: inline;
    width: auto;
}

.question {
    visibility: hidden;
}

#answerSect {
    visibility: hidden;
    margin-left: 5%;
    margin-right: 5%;
}

#answerSect #answerList li button {
    font-size: 24px;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 25%;
    text-align: left;
}

#rightWrong {
    visibility: hidden;
}

#highScore {
    display: none;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#highScore * {
    margin: 2%;
    list-style-position: inside;
}